<template>
    <div class="home back__body">
        <Title label="Bienvenue sur Devngo" />
    </div>
</template>

<script>
// @ is an alias to /src
import Title from "../components/utils/Title";

export default {
    name: "Home",
    components: { Title },
};
</script>
<style lang="scss" scoped>
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92vh;
}
.back__body {
    background-image: url("../assets/pexels-photo-1563356.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
</style>
