<template>
    <div class="main__body">
        <v-row style="width: 100vw; justify-content: center; margin: 0 10px">
            <Title label="Posez des questions" />
        </v-row>
        <v-row style="height: 80vh; width: 100vw">
            <QuestionForm />
        </v-row>
    </div>
</template>

<script>
import Title from "../../components/utils/Title";
import QuestionForm from "../../components/Question/Form";
export default {
    name: "About",
    components: { Title, QuestionForm },
};
</script>

<style lang="scss" scoped>
.main__body {
    display: flex;
    flex-direction: column;
    height: calc(100%-64px);
    width: 100vw;
}
</style>
