<template>
    <div>
        <v-row
            class="form___header"
            style="width: 100vw; justify-content: center; margin: 0 10px"
        >
            <Title
                label="Les listes des questions"
                style="text-align: center"
            />
            <v-select
                v-model="problemID"
                :items="allProblems"
                item-text="description"
                item-value="id"
                placeholder="Trier par"
                style="margin-left: auto"
                @change="setNewQuestion"
            ></v-select>
        </v-row>
        <v-row v-if="nonAnsweredQuestion.length">
            <v-expansion-panels>
                <v-expansion-panel
                    v-for="(item, i) in nonAnsweredQuestion"
                    :key="item.id + i"
                >
                    <v-expansion-panel-header>
                        <h2>{{ item.title }}</h2>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <div class="response__form">
                            {{ item.description }}
                            <v-btn
                                color="success"
                                style="width: 10%; margin-left: auto"
                                @click.prevent="openAnswerModal(item)"
                            >
                                Repondre
                            </v-btn>
                        </div>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
            <AnswerModal
                :isOpen="openModal"
                @on-close="() => (openModal = false)"
                :idToAnswer="idquestion"
                :key="idquestion"
                @filter-answer="filterAnswer"
                textYes="Soumettre"
            />
        </v-row>
        <v-row v-else>
            <span style="margin-left: 20px"> Aucune question </span>
        </v-row>
        <v-overlay :value="lauchOverlay">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
    </div>
</template>

<script>
import Title from "../../components/utils/Title";

import AnswerModal from "../../components/modals/AnswerModal";
import { mapActions, mapGetters } from "vuex";

export default {
    name: "ConsultQuestion",
    components: { Title, AnswerModal },
    data: () => ({
        essai: "",
        openModal: false,
        idquestion: null,
        currentQuestions: [],
        allProblems: [],
        problemID: null,
        lauchOverlay: true,
    }),
    computed: {
        ...mapGetters("question", ["getQuestions"]),
        ...mapGetters("answer", ["getAnswers"]),
        nonAnsweredQuestion() {
            if (!this.getAnswers?.length && !this.currentQuestions?.length)
                return [];
            const filterArray = this.currentQuestions.filter(
                (question) =>
                    !this.getAnswers.find(
                        (answer) => answer.idquestion === question.id
                    )
            );
            return filterArray;
        },
    },
    methods: {
        ...mapActions("question", ["requestQuestions"]),
        ...mapActions("answer", ["requestAnswers"]),
        ...mapActions("problem", ["requestProblemType"]),
        setNewQuestion() {
            this.currentQuestions = this.getQuestions.filter(
                (question) => question.problemID === this.problemID
            );
        },

        openAnswerModal(item) {
            this.idquestion = item.id;
            this.openModal = true;
        },
        filterAnswer() {
            this.currentQuestions = this.currentQuestions.filter(
                (question) => question.id !== this.idquestion
            );
        },
        async setData() {
            await this.requestQuestions();
            await this.requestAnswers();
            this.allProblems = await this.requestProblemType();
            this.currentQuestions = [...this.getQuestions];
            setTimeout(() => (this.lauchOverlay = false), [500]);
        },
    },
    async created() {
        await this.setData();
    },
};
</script>

<style lang="scss" scoped>
.response__form {
    display: flex;
    flex-direction: column;
}
.response__form {
    font-size: 0.9rem;
}
.form___header {
    display: flex;
    flex-direction: column;
}
</style>
