<template>
    <div>
        <v-row style="width: 100vw; justify-content: center; margin: 0 10px">
            <Title label="Les réponses aux questions fréquemment posées" />
        </v-row>
        <v-row>
            <ExpansionPanel :context="answeredQuestion" />
        </v-row>
    </div>
</template>

<script>
import Title from "../../components/utils/Title";
import ExpansionPanel from "../../components/utils/ExpansionPanel";

import { mapActions, mapGetters } from "vuex";
export default {
    name: "Questions",
    components: { Title, ExpansionPanel },
    computed: {
        ...mapGetters("question", ["getQuestions"]),
        ...mapGetters("answer", ["getAnswers"]),
        answeredQuestion() {
            if (!this.getAnswers?.length && !this.getQuestions?.length)
                return [];
            const idAnswered = this.getAnswers.map((answer) => {
                const question = this.getQuestions.find(
                    (question) => question.id === answer.idquestion
                );
                return { ...question, response: answer.answer };
            });
            return idAnswered;
        },
    },
    methods: {
        ...mapActions("question", ["requestQuestions"]),
        ...mapActions("answer", ["requestAnswers"]),
    },
    async created() {
        await this.requestQuestions();
        await this.requestAnswers();
    },
};
</script>

<style lang="scss" scoped>
.response__form {
    font-size: 0.9rem;
}
</style>
