<template>
    <v-form class="form___container">
        <v-container>
            <v-row>
                <v-col cols="2" class="label__form">
                    <span> Titre :</span>
                </v-col>
                <v-col cols="10">
                    <v-text-field
                        v-model="problem.title"
                        placeholder="Le titre de la question"
                        required
                        id="title__field"
                    ></v-text-field>
                </v-col>
            </v-row>

            <v-row>
                <v-col cols="2" class="label__form">
                    <span> Type : </span>
                </v-col>
                <v-col cols="10">
                    <v-select
                        v-model="problem.problemID"
                        :items="allProblems"
                        item-text="description"
                        item-value="id"
                        placeholder="Le type de la question"
                        id="problemtype__field"
                    ></v-select>
                </v-col>
            </v-row>

            <v-row>
                <v-col cols="2" class="label__form">
                    <span> Description :</span>
                </v-col>
                <v-col cols="10">
                    <v-textarea
                        v-model="problem.description"
                        name="input-7-1"
                        value=""
                        placeholder="La description de la question"
                        id="description__field"
                    ></v-textarea>
                </v-col>
            </v-row>
            <v-row>
                <v-btn
                    @click="submitQuestion"
                    color="success"
                    style="margin-left: auto"
                    :disabled="isDisabled"
                >
                    Soumettre
                </v-btn>
            </v-row>
        </v-container>
    </v-form>
</template>

<script>
import { mapActions } from "vuex";
import { success_notification } from "../../plugins/notification";
export default {
    name: "QuestionForm",
    computed: {
        isDisabled() {
            if (
                this.problem.title === "" ||
                this.problem.problemID === null ||
                this.problem.description === ""
            )
                return true;
            return false;
        },
    },

    data: () => ({
        problem: { title: "", problemID: null, description: "" },
        allProblems: [],
        items: [
            {
                text: "Demande d'explication",
                value: 1,
            },
            {
                text: "Problème niveau service",
                value: 2,
            },
            {
                text: "Autres",
                value: 3,
            },
        ],
    }),
    methods: {
        ...mapActions("question", ["createQuestion"]),
        ...mapActions("problem", ["requestProblemType"]),

        async submitQuestion() {
            await this.createQuestion({ ...this.problem });
            success_notification("Question soumise avec succès!");
            this.$router.push({ name: "Home" });
        },
    },
    async created() {
        this.allProblems = await this.requestProblemType();
    },
};
</script>
<style lang="scss" scoped>
.form___container {
    width: 100vw;
}
.label__form {
    display: flex;
    justify-content: start;
    align-items: center;
}
</style>
