<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <v-spacer></v-spacer>
            <LinkButton routeName="Home" label="Home" key="homelink" />
            <LinkButton
                routeName="Ask__Question"
                label="Poser des questions"
                key="askquestionlink"
            />
            <LinkButton routeName="Question__list" label="FAQ" key="faqlink" />
            <LinkButton
                routeName="Answer__to__questions"
                label="Répondre aux questions"
                key="answerlink"
            />
        </v-app-bar>

        <v-main>
            <!-- <HelloWorld /> -->
            <router-view> </router-view>
        </v-main>
    </v-app>
</template>

<script>
// import HelloWorld from "./components/HelloWorld";
import LinkButton from "./components/utils/LinkButton";

export default {
    name: "App",

    components: {
        // HelloWorld,
        LinkButton,
    },

    data: () => ({
        //
    }),
};
</script>
