<template>
    <v-expansion-panels>
        <v-expansion-panel v-for="item in context" :key="item.id">
            <v-expansion-panel-header>
                <h2>{{ item.title || "" }}</h2>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="response__form">
                <div class="content__question">
                    <span> {{ item.response || "" }} </span>
                </div>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script>
export default {
    name: "ExpansionPanel",
    props: {
        context: Array,
    },
};
</script>

<style lang="scss" scoped></style>
