<template>
    <div>
        <router-link :to="{ name: routeName }">
            <v-btn text>
                <span class="mr-2"> {{ label }}</span>
            </v-btn>
        </router-link>
    </div>
</template>

<script>
export default {
    name: "linkButton",
    props: {
        routeName: {
            type: String,
            default: "Home",
        },
        label: {
            type: String,
            default: "",
        },
    },
};
</script>
