<template>
    <h1 class="title">{{ label }}</h1>
</template>

<script>
export default {
    name: "Title",
    props: {
        label: {
            type: String,
            default: "",
        },
    },
};
</script>

<style lang="scss" scoped>
.title {
    color: green;
    margin-top: 12px;
    font-size: 2.5rem !important;
    font-weight: 900;
}
</style>
