<template>
    <v-dialog
        v-model="isOpen"
        @click:outside="$emit('on-close')"
        persistent
        max-width="800px"
    >
        <v-tabs value="slug" background-color="#1876d2" dark grow>
            <v-tabs-slider></v-tabs-slider>
            <v-tab>Reponse</v-tab>
        </v-tabs>

        <div class="modal__content">
            <v-tabs-items>
                <v-card flat>
                    <v-textarea
                        prepend-inner-icon="mdi-comment"
                        v-model="response"
                        name="input-7-1"
                        style="margin: 0 7px"
                        :autofocus="true"
                        @keydown.enter="answerQuestions"
                        id="response__field"
                    ></v-textarea>
                </v-card>
                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="error"
                        rounded
                        class="__full mt-0 mr-3 text-uppercase text-white"
                        @click.prevent="$emit('on-close')"
                    >
                        {{ textNo }}
                    </v-btn>

                    <v-btn
                        color="#1876d2"
                        rounded
                        class="__full mt-0 mr-3 text-uppercase text-white"
                        @click.prevent="answerQuestions"
                        :disabled="isDisabled"
                    >
                        {{ textYes }}
                    </v-btn>
                </v-card-actions>
            </v-tabs-items>
        </div>
    </v-dialog>
</template>

<script>
import { mapActions } from "vuex";
import { success_notification } from "../../plugins/notification";

export default {
    name: "AnswerModal",
    data: () => ({
        response: "",
    }),
    computed: {
        isDisabled() {
            if (this.response === "") return true;
            return false;
        },
    },
    methods: {
        ...mapActions("answer", ["answerQuestion"]),
        async answerQuestions() {
            await this.answerQuestion({
                answer: this.response,
                idquestion: this.idToAnswer,
            });
            this.$emit("on-close");
            this.$emit("filter-answer");
            success_notification("Réponse soumise avec succès");
        },
    },
    props: {
        isOpen: {
            type: Boolean,
            default: false,
        },
        idToAnswer: {
            type: Number,
        },
        textYes: {
            type: String,
            default: "Confirmer",
        },
        textNo: {
            type: String,
            default: "Annuler",
        },
    },
};
</script>

<style lang="scss" scoped></style>
